  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .main {
    height: 100vh;
    width: 100vw;
    background: #eaecf0; /*original */
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  nav{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width:100%;
    backdrop-filter: blur(8px);
}


  nav > ul {
    display: flex;
  }

  nav > ul > li {
    list-style: none;
    margin: 10px 10px 0px;  
  }

  nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

  }

  nav > ul > li > a:hover {
    color: aqua;
  }

  #battle{
    margin: 1% 5%;
    width: 90%;
    height: 350px;

    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  #playerOne {
    position:relative;
    width: 400px;
    display:block;
    background-color: blue;
  }
  #playerTwo {
    position:relative;
    width: 400px;
    display: block;
    background-color: red;
  }

  .icon {
    box-sizing: border-box;
    height: 160px;
    width: 125px;
    display:block;
    margin: 10px;
  }

  .icon1 {
    position: absolute;
    left:0;
    top:0;
  }

  .icon2 {
    position: absolute;
    left:0;
    top: 175px;
  }

  .icon3 {
    position: absolute;
    left:130px;
    top:87.5px;
  }

  .icon4 {
    position: absolute;
    left:260px;
    top:0;
  }

  .icon5 {
    position: absolute;
    left:260px;
    top: 175px;
  }

  #vs {
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 130px;
    font-size: 35px;
    font-family: 'Noto Sans Mono', monospace;
  }
   
  form {
    display:block;
    color: #ec0b0bfa;
  }
  
form > span {
    display: flex;
    margin: 10px;
}
  
.btn:hover{
    background-color: rgba(0, 0, 255, 0.808);
}

#kill{
    display:none;
}
#reply{
    color: #ffffff;
    text-align: center; 
}



  
